---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits/zxg2svq/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Typekit-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9ec6f05e4b1c871ca6c72ec6ac7fd00c"'
      Remote-User:
      - '6289438'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"zxg2svq","name":"Another Kit","analytics":false,"domains":["lizhubertz.com"],"families":[{"id":"lydn","name":"Bungee","slug":"bungee","css_names":["bungee"],"css_stack":"\"bungee\",sans-serif","subset":"default","variations":["n4","n7"]}],"optimize_performance":false,"published":"2016-09-06T22:58:45Z"}}'
  recorded_at: Wed, 07 Sep 2016 16:19:54 GMT
recorded_with: VCR 2.9.3
