---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Typekit-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c9e725b4b23d2c9d49420b57d8d45a30"'
      Remote-User:
      - '6289438'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"kits":[{"id":"zxg2svq","link":"/api/v1/json/kits/zxg2svq"}]}'
  recorded_at: Wed, 07 Sep 2016 16:19:53 GMT
recorded_with: VCR 2.9.3
