---
http_interactions:
- request:
    method: get
    uri: https://typekit.com/api/v1/json/kits/zxg2svq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Typekit-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5efd239f3cb8e76995b88632d62e140a"'
      Remote-User:
      - '6289438'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"kit":{"id":"zxg2svq","name":"Another Kit","analytics":false,"domains":["lizhubertz.com"],"families":[{"id":"lydn","name":"Bungee","slug":"bungee","css_names":["bungee"],"css_stack":"\"bungee\",cursive","subset":"default","variations":["n4","n5","n6","n7"]},{"id":"nyty","name":"Acumin
        Pro","slug":"acumin-pro","css_names":["acumin-pro"],"css_stack":"\"acumin-pro\",sans-serif","subset":"default","variations":["n4","i4","n7","i7"]}],"optimize_performance":false}}'
  recorded_at: Tue, 06 Sep 2016 23:06:14 GMT
recorded_with: VCR 2.9.3
